
body {
  background-color: #783D56;
  font-family:  monospace;
  padding: 50px;
  font-size: 16px;
}

p {
  font-size:  22px;
}

h2 {
  text-align: center;
  font-size: 80px;
}

h1 {
  text-align: center;
  font-size: 100px;
}

@media (max-width: 700px) {
  body {
    background-color: black;
    color:  white;
    font-size: 40px;
  }
}


@media (max-height: 650px) {
  body {
    background-color: orange;
  }


@media (min-width: 768px) {
  body {
    font-size: 40px;

  }
}

/* Desktop breakpoint */
@media (min-width: 992px) {
  body {
    font-size: 50px;
  }
}

/* Wide screen breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 60px;
  }
}

