
body {
  background-color:  #825f3c;
  font-family:  Mukta Mahee;
  padding: 50px;

}



h1 {
	text-align: center;
	font-size: 80px;
	font-family: Lust Didone;
}

h2 {
	font-size: 60px;
	font-family: Lust Didone;
}

a:link {
	color: white;
}
a:visited {
	color: white;
}

a:hover {
	color: black;
}


img {
  max-width: 60%;
margin-left: auto;
margin-right: auto;
display: block;
 }


/* If the browser window is smaller than 650px, the background color will change to black and the text to white: */
@media (max-width: 650px) {
  body {
    background-color: black;
    color:  white;
  }
}


/* If the browser window is shorter than 650px, the background will turn beige */


@media (max-height: 650px) {
  body {
    background-color: #cfa07c;
  }



/* The body's font-size is smaller by default */
body {
  font-size: 16px;
}

/* Tablet breakpoint */
@media (min-width: 768px) {
  body {
    font-size: 40px;
  }
}

/* Desktop breakpoint */
@media (min-width: 992px) {
  body {
    font-size: 50px;
  }
}

/* Wide screen breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 60px;
  }
}

