body{
  background: rgba(255, 247, 52, 1.0);
}

.tittle1 {
text-align: center;
font-size: 2vw;
font-family: Arial;
z-index: 1;


  /*margin: 10%;*/
}

.title2 {
  
  text-align: center;
  /*font-size: 192px;*/
  font-size: 16vw;
  font-family: Eckmannpsych;
  z-index: 1;
  margin-top: 10%;


  /*margin: 10%;*/
}

.intro {
  text-align: center;
  font-size: 3vw;
  margin: 6%;
  
}

.phone {
  width: 60%;
  display: flex;
  justify-content: right;
  margin: auto;
  animation-name: spin;
  animation-duration: 3s;
animation-iteration-count: infinite; 
animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(45deg);
    }
}

.flexbox {
  background: black;
  display: flex;
  height: 730px;
  margin: auto;
  flex-direction: column;
}

.t1 {
  font-size: 25px;
font-family: Helvetica;
z-index: 1;
color: white;
text-align: left;
margin-left: 1%;
margin-top: 2%;


}




.t2 {
 font-size: 70px;
 font-style: Bold;
font-family: Helvetica;
z-index: 1;
color:rgba(255, 247, 52, 1);
text-align: left;
margin-left: 1%;
margin-top: 2%;
animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}


.t3 {
   font-size: 70px;
   font-style: Bold;
font-family: Helvetica;
z-index: 1;
color: white;
text-align: left;
margin-left: 1%;
margin-top: 2%;
animation: glitch 1s linear infinite;
}

.t4 {
   font-size: 70px;
   font-style: Bold;
font-family: Helvetica;
z-index: 1;
color: rgba(216, 0, 251, 1);
text-align: left;
margin-left: 1%;
margin-top: 2%;
animation: glitch 1s linear infinite;
}

.t5 {
   font-size: 70px;
   font-style: Bold;
font-family: Helvetica;
z-index: 1;
color: white;
text-align: left;
margin-left: 1%;
margin-top: 2%;
animation-name: rightThenLeft;
animation: glitch 1s linear infinite;
}

.t6 {
   font-size: 70px;
   font-style: Bold;
font-family: Helvetica;
z-index: 1;
color: rgba(255, 247, 52, 1);
text-align: left;
margin-left: 1%;
margin-top: 2%;
margin-bottom: 5%;
animation: glitch 1s linear infinite;
}



.p11 {
  font-size: 90px;
  font-style: Bold;
  font-family: Helvetica;
z-index: 1;
color: black;
text-align: left;
margin-top: 3%;

}

.a {
  width: 40%;
  align-items: left;
   animation-name: spin;
  animation-duration: 3s;
animation-iteration-count: infinite; 
animation-timing-function: linear;
}

.link1 {
  font-size: 50px;
  font-style: Bold;
  font-family: Helvetica;
  color: black;
  z-index: 3;
  text-align: left;
  
  margin-bottom: 2%;
  

  
}

a:link {
  color: black;
}
a:visited {
  color: red;
}

a:hover {
  color: black;
}


.p12 {
   font-size: 90px;
  font-style: Bold;
  font-family: Helvetica;
z-index: 1;
color: black;
text-align: left;
margin-top: 3%;

}

.b {
  width: 40%;
  
   animation-name: spin;
  animation-duration: 3s;
animation-iteration-count: infinite; 
animation-timing-function: linear;

}

.link2 {
  font-size: 50px;
  font-style: Bold;
  font-family: Helvetica;
color: black;
  z-index: 3;
  text-align: left;
  margin-bottom: 2%;
}



.p13 {
  font-size: 90px;
  font-style: Bold;
  font-family: Helvetica;
z-index: 1;
color: black;
text-align: left;
margin-top: 3%;

}

.c {
  width: 40%;
  align-items: center;
   animation-name: spin;
  animation-duration: 3s;
animation-iteration-count: infinite; 
animation-timing-function: linear;

}

.link3 {
  font-size: 50px;
  font-style: Bold;
  font-family: Helvetica;
 color: black;
  z-index: 3;
  text-align: left;
  
}



.p14 {
  font-size: 90px;
  font-style: Bold;
  font-family: Helvetica;
z-index: 1;
color: rgba(255, 247, 52, 1);
text-align: left;
margin-top: 3%;

}

.d {
  width: 40%;
   align-items: center;
  animation-name: spin;
  animation-duration: 3s;
animation-iteration-count: infinite; 
animation-timing-function: linear;

}

.link4 {
  font-size: 50px;
  font-style: Bold;
  font-family: Helvetica;
  color: black;
  z-index: 3;
  text-align: left;
  
}



.p15 {
  font-size: 90px;
  font-style: Bold;
  font-family: Helvetica;
z-index: 1;
color: black;
text-align: left;
margin-top: 3%;

}

.e {
  width: 40%;
  align-items: center;
   animation-name: spin;
  animation-duration: 3s;
animation-iteration-count: infinite; 
animation-timing-function: linear;

}

.link5 {
  font-size: 50px;
  font-style: Bold;
  font-family: Helvetica;
  color: black;
  z-index: 3;
  text-align: left;
  
}



.p16 {
  font-size: 90px;
  font-style: Bold;
  font-family: Helvetica;
z-index: 1;
color: black;
text-align: left;
margin-top: 3%;

}

.f {
  width: 40%;
   align-items: center;
   animation-name: spin;
  animation-duration: 3s;
animation-iteration-count: infinite; 
animation-timing-function: linear;

}

.link6 {
  font-size: 50px;
  font-style: Bold;
  font-family: Helvetica;
  color: black;
  z-index: 3;
  text-align: left;
  
}


.p17 {
  font-size: 90px;
  font-style: Bold;
  font-family: Helvetica;
z-index: 1;
color: black;
text-align: left;
margin-top: 3%;

}

.g {
  width: 40%;
   align-items: center;
   animation-name: spin;
  animation-duration: 3s;
animation-iteration-count: infinite; 
animation-timing-function: linear;

}

.link7 {
  font-size: 50px;
  font-style: Bold;
  font-family: Helvetica;
  color: black;
  z-index: 3;
  text-align: left;
  
}



.p18 {
  font-size: 90px;
  font-style: Bold;
  font-family: Helvetica;
z-index: 1;
color: black;
text-align: left;
margin-top: 3%;

}

.h {
  width: 40%;
   animation-name: spin;
  animation-duration: 3s;
animation-iteration-count: infinite; 
animation-timing-function: linear;

}

.link8 {
  font-size: 50px;
  font-style: Bold;
  font-family: Helvetica;
 color: black;
  z-index: 3;
  text-align: left;
  
}

.link9 {
  font-size: 50px;
  font-style: Bold;
  font-family: Helvetica;
 color: black;
  z-index: 3;
  text-align: left;
  
}

















