body {
  background: rgba(238, 233, 231, 1);
  height: 100vh;
  cursor: url('cursor.svg'), auto;
}

@font-face{
  font-family: Losta Masta;
  src: url(assets/LostaMasta-Regular.ttf);
  font-style: normal;
}

h1 {
position: absolute;
  left: 40px;
  top: 80px;
  font-family: Helvetica;
  font-weight: lighter;
    font-style: normal;
  font-size: 14px;
  transform: rotate(-90deg);
  color: rgba(122, 16, 16, 1);
}


h2 {
  font-family: Losta Masta;
  font-style: regular;
  font-size: 80px;
  margin-left: 130px;
  color: rgba(122, 16, 16, 1); 
}

h3 {
  font-family: Losta Masta;
  font-style: regular;
  font-size: 40px;
  margin-left: 130px;
  top: 60%;
  color: rgba(122, 16, 16, 1); 
}

a:link {
  color:rgba(122, 16, 16, 1);
}
a:visited {
  color: rgba(122, 16, 16, 1);
}

a:hover {
  color: rgba(122, 16, 16, 1);
}