body{
position: relative;
width: 1440px;
height: 1024px;
background-size: 1440px 1024px;
font-family: "Archivo Black", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

h1{
position: absolute;
width: 467px;
height: 127px;
left: 1147px;
top: 512px;

font-family: Impact;
font-style: normal;
font-weight: 900;
font-size: 100px;
line-height: 122px;
text-align: center;
letter-spacing: 0.05em;

color: #0602BB;

transform: rotate(90deg);

}

h2 {
	position: absolute;
width: 1289px;
height: 155px;
left: 75px;
top: 60px;


font-family: Impact;
font-style: normal;
font-weight: 900;
font-size: 140px;
line-height: 171px;
text-align: center;
letter-spacing: 0.05em;

color: #0602BB;


}

.link1{
	
position: absolute;
width: 141px;
height: 47px;
left: 148px;
top: 435px;

font-family: Gill Sans;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 55px;
text-align: center;
letter-spacing: 0.03em;

color: #FFFFFF;


}
.link2{

position: absolute;
width: 195px;
height: 50px;
left: 383px;
top: 435px;

font-family: Gill Sans;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 55px;
text-align: center;
letter-spacing: 0.03em;

color: #FFFFFF;


}

.box1 {
	position: absolute;
width: 208px;
height: 95px;
left: 114px;
top: 451px;

background: #020051;

}

.box2 {
	position: absolute;
width: 235px;
height: 95px;
left: 363px;
top: 451px;

background: #020051;

}
a {
	color: white;
	text-decoration: none;
}

a:hover{
	color: #FA00FF;
}

.words {
  color: whitesmoke;
  font-size: 0;
  line-height: 1.5;
  font-family: impact;
  letter-spacing: 0.05em;
}

.words span {
  font-size: 7rem;
  display: inline-block;
  animation: move 3s ease-in-out infinite;
}

@keyframes move {
  0% {
    transform: translate(-30%, 0);
  }
  50% {
    text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
  }
  100% {
    transform: translate(30%, 0);
  }
}

.words span:nth-child(2) {
  animation-delay: 0.5s;
}

.words span:nth-child(3) {
  animation-delay: 1s;
}

.words span:nth-child(4) {
  animation-delay: 1.5s;
}

.words span:nth-child(5) {
  animation-delay: 2s;
}

.words span:nth-child(6) {
  animation-delay: 2.5s;
}

.words span:nth-child(7) {
  animation-delay: 3s;
}

.words span:nth-child(8) {
  animation-delay: 3.5s;
}

.words span:nth-child(9) {
  animation-delay: 4s;
}

.words span:nth-child(10) {
  animation-delay: 4.5s;
}

.words span:nth-child(11) {
  animation-delay: 5s;
}

.words span:nth-child(12) {
  animation-delay: 5.5s;
}

.words span:nth-child(13) {
  animation-delay: 6s;
}

.words span:nth-child(14) {
  animation-delay: 6.5s;
}

.words span:nth-child(15) {
  animation-delay: 7s;
}

.words span:nth-child(16) {
  animation-delay: 7.5s;
}

.words span:nth-child(17) {
  animation-delay: 8s;
}




