/*
  Coding from Life – Sketch 1: fixed layout

  For sketch 1 you'll be positioning elements relative to an element with a fixed
  width and height. For this sketch you can position elements by using pixel values.
*/

body {
  background-color: black;
}

.frame {
  width: 1000px;
  height: 600px;
  background: white;
  margin: 30px auto;
  position: relative;
}

/* Your CSS goes here */

  .table {
    position: absolute;
    top: 310px;
    left: 100px;
    width: 750px;
    height: 290px;
    background: pink;
    transform: skewX(-30deg);
    z-index: 0;
}

.table1 {
    position: absolute;
    top: 370px;
    left: 120px;
    width: 560px;
    height: 230px;
    background: white;
    transform: skewX(-30deg);
    z-index: 0;
}

.vase {
  position: absolute;
    /* border: 1px solid grey; */
    border-radius: 18%;
    width: 117px;
    height: 220px;
    z-index: 3;
    top: 297px;
    left: 450px;
    background: rgb(235,86,175);
    background: linear-gradient(
90deg, rgba(235,86,175,0.5048543689320388) 16%, rgba(218,218,218,0.6553398058252426) 50%, rgba(235,86,175,0.4854368932038835) 89%);
}

.pmk1 {
  position: absolute;
    
    background: linear-gradient(
0deg, rgba(103, 65, 114, 1) 0%, rgba(190, 144, 212,1) 80%);
    width: 119px;
    height: 110px;
    top: 351px;
    left: 585px;
    border-radius: 98%;
    z-index: 3;
}


.pmk2 {
  position: absolute;
    
    background: linear-gradient(
0deg, rgba(103, 65, 114, 1) 0%, rgba(190, 144, 212,1) 80%);
    width: 119px;
    height: 110px;
    top: 405px;
    left: 649px;
    border-radius: 98%;
    transform: skewX(30deg);
    z-index: 3;
}

.pmk3 {
  position: absolute;
    
    background: linear-gradient(
0deg, rgba(103, 65, 114, 1) 0%, rgba(190, 144, 212,1) 80%);
    width: 180px;
    height: 110px;
    top: 378px;
    left: 230px;
    border-radius:98%;
    transform: skewX(-40deg);
    z-index: 3;
}


.pot{
    position: absolute;
    
    background: linear-gradient(
0deg, rgba(188, 247, 255, 1) 0%, rgba(24, 166, 188,1) 80%);
    width: 180px;
    height: 175px;
    top: 394.2px;
    left: 150px;
    border-radius: 98%;
    z-index: 3;
}



.pottop {

  position: absolute;
  background: rgba(24, 166, 188,1);
   width: 130px;
    height: 21px;
    top: 388.8px;
    left: 171px;
    border-radius: 94%;
    z-index: 3;
}
.pottop1 {
    position: absolute;
    
    background: linear-gradient(
0deg, rgba(24, 166, 188,1) 0%, rgba(188, 247, 255, 1) 80%); 
    width: 58.5px;
    height: 49px;
    top: 360px;
    left: 205px;
    border-radius: 98%;
    z-index: 3;
}

.stem1 {
  position: absolute;

    border-radius: 6px;
    width: 8.26px;
    height: 140px;
    z-index: 3;
    top: 264.6px;
    left: 484px;
    background: green;
  }

  .stem2 {
  position: absolute;

    border-radius: 6px;
    width: 8.26px;
    height: 140px;
    z-index: 3;
    top: 264.6px;
    left: 506px;
    background: green;
  }

.stem3 {
  position: absolute;

    border-radius: 6px;
    width: 8.26px;
    height: 140px;
    z-index: 3;
    top: 264.6px;
    left: 528px;
    background: green;
  }

  .flower11 {
  position: absolute;
    border-corner-shape: scoop;  
    border-radius: 0 100%;
    width: 35.4px;  
    height: 21px; 
    top: 243px;
    left: 456.5px;
  background: hotpink;
  }
.flower12 {
   position: absolute;
     
    border-radius: 100% 0;
    width: 35.4px;  
    height: 21px; 
    top: 243px;
    left: 486.2px;
  background: hotpink;
}
.flower13 {
   position: absolute;
     
    border-radius: 0 100%;
    width: 35.4px;  
    height: 21px; 
    top: 257.58px;
    left: 486.2px;
  background: hotpink;
  z-index: 3;
}
 .flower14 {
  position: absolute;
      
    border-radius: 100% 0;
    width: 35.4px;  
    height: 21px; 
    top: 257.58px;
    left: 456.5px;
  background: hotpink;
  }

   .flower21 {
  position: absolute;
    border-corner-shape: scoop;  
    border-radius: 0 100%;
    width: 35.4px;  
    height: 21px; 
    top: 243px;
    left: 478.5px;
  background: deeppink;
  z-index: 3;
  }
.flower22 {
   position: absolute;
     
    border-radius: 100% 0;
    width: 35.4px;  
    height: 21px; 
    top: 243px;
    left: 508.2px;
  background: deeppink;
  z-index: 3;
}
.flower23 {
   position: absolute;
     
    border-radius: 0 100%;
    width: 35.4px;  
    height: 21px; 
    top: 257.58px;
    left: 508.2px;
  background: deeppink;
  z-index: 3;
}
 .flower24 {
  position: absolute;
      
    border-radius: 100% 0;
    width: 35.4px;  
    height: 21px; 
    top: 257.58px;
    left: 478.5px;
  background: deeppink;
  z-index: 3;
  }
 
.flower31 {
  position: absolute;
    border-corner-shape: scoop;  
    border-radius: 0 100%;
    width: 35.4px;  
    height: 21px; 
    top: 243px;
    left: 500.5px;
  background: hotpink;
  
  }
.flower32 {
   position: absolute;
     
    border-radius: 100% 0;
    width: 35.4px;  
    height: 21px; 
    top: 243px;
    left: 530.2px;
  background: hotpink;
 
}
.flower33 {
   position: absolute;
     
    border-radius: 0 100%;
    width: 35.4px;  
    height: 21px; 
    top: 257.58px;
    left: 530.2px;
  background: hotpink;
  
}
 .flower34 {
  position: absolute;
      
    border-radius: 100% 0;
    width: 35.4px;  
    height: 21px; 
    top: 257.58px;
    left: 500.5px;
  background: hotpink;
 
  }

  .cbottom {
    position: absolute;

    border-radius: 10%;
    width: 41.3px;
    height: 35px;
    z-index: 3;
    top: 550px;
    left: 484px;
    background: rgba(249, 105, 14, 1);
  }

  .cbase {
    position: absolute;
    border-radius: 7%;
    width: 35.4px;
    height: 49px;
    z-index: 3;
    top: 501px;
    left: 486.2px;
    background: rgba(243, 156, 18, 1);
  }

  .candle {
    position: absolute;
    border-radius: 7%;
    width: 29.5px;
    height: 140px;
    z-index: 3;
    top: 361px;
    left: 489.5px;
    background: rgba(252, 214, 112, 1);
  }

  .candlet {
    position: absolute;

    border-radius: 38%;
    width: 11.8px;
    height: 14px;
    z-index: 3;
    top: 346.5px;
    left: 497.2px;
    background: rgba(253, 227, 167, 1);
  }

  h2 {
  font-size: 20px;
  font-family: Bely Display;
}

  a:link {
  color: orange;
}
a:visited {
  color: purple;
}

a:hover {
  color: black;
}






