html {    
    background: url('bali2.jpeg') no-repeat center fixed;     
    background-size: cover;

}

body {
font-family: Losta Masta;
  font-style: regular;
}


.right {
	display: flex;
	justify-content: right;
margin-left: 650px;
}

.left {
	display: flex;
	justify-content: left;
	margin-left: 300px;
}

img {
	width: 60%;
}

a {
	cursor: pointer;
}

