
body {
  background-color:  whitesmoke;
}

section {
  display:  flex;
  flex-direction:  column;
  justify-content: center;
  align-items:  center;
  height:  100vh;
}
img {
  height: 350px;
}


.buttonOn {
  background-color:  black;
  color:  white;
}

.light {
  background-color: black;
}

h2 {
  font-size: 40px;
  font-family: Lust Didone;
position: absolute;
top: 10px;
left: 10px;
}

a:link {
  color: orange;

}
a:visited {
  color: orange;
}

a:hover {
  color: red;
}