
body {
  font-family: 'Lora', serif;
  font-size: 40px;
  font-weight: regular;
  background-color: black;
  color: white;
}

.wrapper {
  display: flex;
  padding: 30px;
margin: 20px;

}

h1 {
  font-size: 40px;
  margin: 10px;
  font-weight: 600;
  
}



.entries {
  margin-bottom: 60px;
padding: 40px;
margin-left: 90px;
}

.heading {
  margin-bottom: o;

}

.chapter {
  letter-spacing: 10px;
}

p {
  margin: 0;
}

.page {
  margin-top: 10px;
  display: flex;
  flex-direction: row;

}

.description {
  font-weight: 400;
  font-style: italic;
}


span {
  display: block;
}

@media (max-width: 700px) {
  body {
    background-color: white;
    color: black ;
    font-size: 40px;
  }
}












