
body {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 26px;
  font-weight: regular;
  background-color: rgba(191, 208, 218, 1);
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
   text-align: center;
  
}

h1 {
  font-size: 26px;
  margin: 0;
  font-weight: 0;
  
}

.entries {
  margin-bottom: 60px;
}

.heading {
  margin-bottom: 60px;
}

.chapter {
  letter-spacing: 10px;
}

p {
  margin: 0;
}

.page {
  margin-top: 10px;
}


span {
  display: block;
}

@media (max-width: 700px) {
  body {
    background-color: white;
    color: rgba(191, 208, 218, 1) ;
    font-size: 26px;
  }
}









