body {
  
  font-family: 'Archivo', sans-serif;
  font-size: 40px;
  font-weight: 200;
  background-color: rgba(237, 100, 111, 1);
  color: white;
}

hr {
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 40px;
  text-align: center;
  align-items: center;


}

h1 {
  font-family: 'Staatliches', cursive;
  font-size: 70px;
  font-weight: 700;
  margin: 0;
}

.entries {
  margin-bottom: 60px;
}

.heading {
  margin-bottom: 60px;
}

.chapter {
  letter-spacing: 10px;
}

p {
  margin: 0;
}

.page {
  margin-top: 10px;
}


span {
  display: block;
}