body {
  
  font-family: 'Archivo', sans-serif;
  font-size: 40px;
  font-weight: 200;
  background-color: rgba(249, 198, 244, 1);
  color: black;
}

hr {
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 40px;
  text-align: center;
  align-items: center;


}

h1 {
  font-family: 'Staatliches', cursive;
  font-size: 70px;
  font-weight: 700;
  margin: 0;
}

.entries {
  margin-bottom: 60px;
}

.heading {
  margin-bottom: 60px;
}

.chapter {
  letter-spacing: 10px;
}

p {
  margin: 0;
}

.page {
  margin-top: 10px;
}


span {
  display: block;
}




@media (max-width: 700px) {
  body {
    color: white;
    background-color: rgba(88, 0, 79, 1);
    font-size: 30px;
  }
}

@media (max-height: 650px) {
  body {
    background-color: white;
    color: black;
    font-size: 43px;
  }