body {
	background-image: url(bg.jpg);

width: 1440px;
height: 1024px;
left: 0px;
top: 0px;
background-size: 1440px 1024px;
}

h1 {
  position: absolute;
width: 551px;
height: 141px;
left: 102px;
top: 196px;

font-family: Gill Sans;
font-style: normal;
font-weight: bold;
font-size: 144px;
line-height: 167px;
letter-spacing: 0.03em;

color: #000000;

}
h2 {
	position: absolute;
width: 1196px;
height: 289px;
left: 122px;
top: 493px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 40px;
text-align: right;
letter-spacing: 0.03em;

color: #000000;

}

.arrowd {
  
position: absolute;
width: 0px;
height: 0px;
left: 710px;
top: 937px;
border-left: 25px solid transparent;
border-right: 25px solid transparent;
border-bottom: 50px solid black;
transform: rotate(-180deg);
}

.arrowu {
  position: absolute;
width: 0px;
height: 0px;
left: 665px;
top: 135px;
border-left: 25px solid transparent;
border-right: 25px solid transparent;
border-bottom: 50px solid black;
transform: rotate(0deg);

}


