body {
	background-image: url(backgroundimage1.jpg);
	position: absolute;
width: 1440px;
height: 10900px;
left: 0px;
top: 27px;
background-size: 1440px 10900px ; 
}
h1 {
  position: absolute;
width: 1217px;
height: 141px;
left: 112px;
top: 338px;

font-family: Gill Sans;
font-style: normal;
font-weight: 900;
font-size: 144px;
line-height: 179px;
text-align: center;
letter-spacing: 0.03em;

color: #000000;

}
.q1 {
  position: absolute;
width: 793px;
height: 102px;
left: 122px;
top: 1186px;

font-family: Arapey;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 53px;
letter-spacing: 0.03em;

color: #000000;
}
.s1 {
  position: absolute;
width: 988px;
height: 96px;
left: 341px;
top: 1301px;

font-family: Gill Sans;
font-style: normal;
font-weight: 900;
font-size: 96px;
line-height: 120px;
letter-spacing: 0.03em;
animation: shake 2s infinite;
  animation-timing-function: linear; 

color: #000000;

}
.s1:hover{
  cursor: default; 
  color: rgba(255, 255, 255, 1);
  outline-color: rgba(255, 255, 255, 1);
  outline-offset: 300px;
}
.a1 {
  position: absolute;
width: 1190px;
height: 524px;
left: 122px;
top: 1502px;

font-family: Arapey;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 53px;
text-align: right;
letter-spacing: 0.03em;

color: #000000;
}
.q2 {
  position: absolute;
width: 1205px;
height: 159px;
left: 119px;
top: 2187px;

font-family: Arapey;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 53px;
letter-spacing: 0.03em;

color: #000000;
}
.s2 {
  position: absolute;
width: 1236px;
height: 193px;
left: 122px;
top: 2346px;

font-family: Gill Sans;
font-style: normal;
font-weight: 900;
font-size: 87px;
line-height: 108px;
letter-spacing: 0.03em;

color: #000000;

}
.s2:hover{
  cursor: default; 
  color: rgba(255, 255, 255, 1);
  outline-color: rgba(255, 255, 255, 1);
  outline-offset: 300px;
}
.a2{
  position: absolute;
width: 1185px;
height: 394px;
left: 133px;
top: 2648px;

font-family: Arapey;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 53px;
text-align: right;
letter-spacing: 0.03em;

color: #000000;

}
.q3 {
  position: absolute;
width: 973px;
height: 101px;
left: 102px;
top: 3163px;

font-family: Arapey;
font-style: italic;
font-weight: normal;
font-size: 48px;
line-height: 53px;
letter-spacing: 0.03em;

color: #000000;

}
.s3 {
  position: absolute;
width: 1236px;
height: 88px;
left: 102px;
top: 3264px;

font-family: Gill Sans;
font-style: normal;
font-weight: 900;
font-size: 79px;
line-height: 98px;
letter-spacing: 0.03em;

color: #000000;

}
.s3:hover{
  cursor: default; 
  color: rgba(255, 255, 255, 1);
  outline-color: rgba(255, 255, 255, 1);
  outline-offset: 300px;
}
.a3 {
  position: absolute;
width: 1216px;
height: 446px;
left: 119px;
top: 3502px;

font-family: Arapey;
font-style: italic;
font-weight: normal;
font-size: 48px;
line-height: 53px;
text-align: right;
letter-spacing: 0.03em;

color: #000000;

}
.q4 {
  position: absolute;
width: 978px;
height: 95px;
left: 117px;
top: 4080px;

font-family: Arapey;
font-style: italic;
font-weight: normal;
font-size: 48px;
line-height: 53px;
letter-spacing: 0.03em;

color: #000000;
}
.s4 {
  position: absolute;
width: 1196px;
height: 221px;
left: 122px;
top: 4175px;

font-family: Gill Sans;
font-style: normal;
font-weight: 900;
font-size: 90px;
line-height: 112px;
letter-spacing: 0.03em;

color: #000000;

}
.s4:hover{
  cursor: default; 
  color: rgba(255, 255, 255, 1);
  outline-color: rgba(255, 255, 255, 1);
  outline-offset: 300px;
}
.a4 {
  position: absolute;
width: 1196px;
height: 213px;
left: 122px;
top: 4491px;

font-family: Arapey;
font-style: italic;
font-weight: normal;
font-size: 48px;
line-height: 53px;
text-align: right;
letter-spacing: 0.03em;

color: #000000;

}
.q5 {
  position: absolute;
width: 978px;
height: 101px;
left: 122px;
top: 4856px;

font-family: Arapey;
font-style: italic;
font-weight: normal;
font-size: 48px;
line-height: 53px;
letter-spacing: 0.03em;

color: #000000;
}
.s5 {
  position: absolute;
width: 1216px;
height: 93px;
left: 119px;
top: 4975px;

font-family: Gill Sans;
font-style: normal;
font-weight: 900;
font-size: 84px;
line-height: 105px;
letter-spacing: 0.03em;

color: #000000;

}
.s5:hover{
  cursor: default; 
  color: rgba(255, 255, 255, 1);
  outline-color: rgba(255, 255, 255, 1);
  outline-offset: 300px;
}
.a5 {
  position: absolute;
width: 1207px;
height: 488px;
left: 111px;
top: 5224px;

font-family: Arapey;
font-style: italic;
font-weight: normal;
font-size: 48px;
line-height: 53px;
text-align: right;
letter-spacing: 0.03em;

color: #000000;

}
.q6 {
  position: absolute;
width: 978px;
height: 99px;
left: 122px;
top: 5902px;

font-family: Arapey;
font-style: italic;
font-weight: normal;
font-size: 48px;
line-height: 53px;
letter-spacing: 0.03em;

color: #000000;

}
.s6 {
  position: absolute;
width: 1210px;
height: 95px;
left: 122px;
top: 6001px;

font-family: Gill Sans;
font-style: normal;
font-weight: 900;
font-size: 85px;
line-height: 106px;
letter-spacing: 0.03em;

color: #000000;

}
.s6:hover{
  cursor: default; 
  color: rgba(255, 255, 255, 1);
  outline-color: rgba(255, 255, 255, 1);
  outline-offset: 300px;
}
.a6 {
  position: absolute;
width: 1204px;
height: 229px;
left: 137px;
top: 6270px;

font-family: Arapey;
font-style: italic;
font-weight: normal;
font-size: 48px;
line-height: 53px;
text-align: right;
letter-spacing: 0.03em;

color: #000000;

}
.q7 {
  position: absolute;
width: 978px;
height: 102px;
left: 117px;
top: 6635px;

font-family: Arapey;
font-style: italic;
font-weight: normal;
font-size: 48px;
line-height: 53px;
letter-spacing: 0.03em;

color: #000000;

}

.a7 {
  position: absolute;
width: 1196px;
height: 587px;
left: 133px;
top: 6837px;

font-family: Arapey;
font-style: italic;
font-weight: normal;
font-size: 48px;
line-height: 53px;
text-align: right;
letter-spacing: 0.03em;

color: #000000;
}
.q8 {
  position: absolute;
width: 1219px;
height: 153px;
left: 122px;
top: 7560px;

font-family: Arapey;
font-style: italic;
font-weight: normal;
font-size: 48px;
line-height: 53px;
letter-spacing: 0.03em;

color: #000000;

}

.a8 {
  position: absolute;
width: 1203px;
height: 632px;
left: 122px;
top: 7798px;

font-family: Arapey;
font-style: italic;
font-weight: normal;
font-size: 48px;
line-height: 53px;
text-align: right;
letter-spacing: 0.03em;

color: #000000;

}
.q9 {
  position: absolute;
width: 1196px;
height: 149px;
left: 133px;
top: 8643px;

font-family: Arapey;
font-style: italic;
font-weight: normal;
font-size: 48px;
line-height: 53px;
letter-spacing: 0.03em;

color: #000000;

}
.s9 {
  position: absolute;
width: 1193px;
height: 177px;
left: 130px;
top: 8792px;

font-family: Gill Sans;
font-style: normal;
font-weight: 900;
font-size: 75px;
line-height: 93px;
letter-spacing: 0.03em;

color: #000000;

}
.s9:hover{
  cursor: default; 
  color: rgba(255, 255, 255, 1);
  outline-color: rgba(255, 255, 255, 1);
  outline-offset: 300px;
}

.a9 {
  position: absolute;
width: 1172px;
height: 425px;
left: 145px;
top: 9119px;

font-family: Arapey;
font-style: italic;
font-weight: normal;
font-size: 48px;
line-height: 53px;
text-align: right;
letter-spacing: 0.03em;

color: #000000;

}
.q10 {
  position: absolute;
width: 1195px;
height: 158px;
left: 122px;
top: 9740px;

font-family: Arapey;
font-style: italic;
font-weight: normal;
font-size: 48px;
line-height: 53px;
letter-spacing: 0.03em;

color: #000000;

}
.s10 {
  position: absolute;
width: 1193px;
height: 177px;
left: 122px;
top: 9898px;

font-family: Gill Sans;
font-style: normal;
font-weight: 900;
font-size: 75px;
line-height: 93px;
letter-spacing: 0.03em;

color: #000000;

}
.s10:hover{
  cursor: default; 
  color: rgba(255, 255, 255, 1);
  outline-color: rgba(255, 255, 255, 1);
  outline-offset: 300px;
}
.a10 {
  position: absolute;
width: 1185px;
height: 553px;
left: 122px;
top: 10247px;

font-family: Arapey;
font-style: italic;
font-weight: normal;
font-size: 48px;
line-height: 53px;
text-align: right;
letter-spacing: 0.03em;

color: #000000;

}

.arrowr {
  position: absolute;
width: 0px;
height: 0px;
left: 1349px;
top: 547px;
border-left: 25px solid transparent;
border-right: 25px solid transparent;
border-bottom: 50px solid black;
transform: rotate(90deg);

}

.arrowu {
  position: absolute;
width: 0px;
height: 0px;
left: 665px;
top: 135px;
border-left: 25px solid transparent;
border-right: 25px solid transparent;
border-bottom: 50px solid black;
transform: rotate(0deg);

}
