body {
	background-color: black;
position: relative;
width: 1440px;
height: 2048px;

}

.w1 {
position: absolute;
width: 392px;
height: 120px;
left: 67px;
top: 46px;

font-family: Apoc LC Trial;
font-style: normal;
font-weight: 800;
font-size: 96px;
line-height: 115px;
text-align: center;
letter-spacing: 0.06em;

color: white;

}
.w1:hover{
  cursor: default; 
  color: red;
  outline-color: red;
  outline-offset: 300px;
}
.w2 {
	position: absolute;
width: 392px;
height: 120px;
left: 69px;
top: 184px;

font-family: Apoc LC Trial;
font-style: normal;
font-weight: 800;
font-size: 96px;
line-height: 115px;
text-align: center;
letter-spacing: 0.06em;

color: white;
}
.w2:hover{
  cursor: default; 
  color: red;
  outline-color: red;
  outline-offset: 300px;
}
.w3 {
position: absolute;
width: 392px;
height: 120px;
left: 69px;
top: 326px;

font-family: Apoc LC Trial;
font-style: normal;
font-weight: 800;
font-size: 96px;
line-height: 115px;
text-align: center;
letter-spacing: 0.06em;

color: white;
	
}
.w3:hover{
  cursor: default; 
  color: red;
  outline-color: red;
  outline-offset: 300px;
}
.w4 {
	position: absolute;
width: 392px;
height: 120px;
left: 71px;
top: 468px;

font-family: Apoc LC Trial;
font-style: normal;
font-weight: 800;
font-size: 96px;
line-height: 115px;
text-align: center;
letter-spacing: 0.06em;

color: white;
}
.w4:hover{
  cursor: default; 
  color: red;
  outline-color: red;
  outline-offset: 300px;
}
.w5 {
	position: absolute;
width: 392px;
height: 120px;
left: 75px;
top: 610px;

font-family: Apoc LC Trial;
font-style: normal;
font-weight: 800;
font-size: 96px;
line-height: 115px;
text-align: center;
letter-spacing: 0.06em;

color: white;
}
.w5:hover{
  cursor: default; 
  color: red;
  outline-color: red;
  outline-offset: 300px;
}
.w6{
	position: absolute;
width: 392px;
height: 120px;
left: 73px;
top: 748px;

font-family: Apoc LC Trial;
font-style: normal;
font-weight: 800;
font-size: 96px;
line-height: 115px;
text-align: center;
letter-spacing: 0.06em;

color: white;

}
.w6:hover{
  cursor: default; 
  color: red;
  outline-color: red;
  outline-offset: 300px;
}
.w7 {
	position: absolute;
width: 392px;
height: 120px;
left: 67px;
top: 1024px;

font-family: Apoc LC Trial;
font-style: normal;
font-weight: 800;
font-size: 96px;
line-height: 115px;
text-align: center;
letter-spacing: 0.06em;

color: #FF0000;

}
.w7:hover{
  cursor: default; 
  color: white;
  outline-color: white;
  outline-offset: 300px;
}
.w8 {
	position: absolute;
width: 392px;
height: 120px;
left: 67px;
top: 1153px;

font-family: Apoc LC Trial;
font-style: normal;
font-weight: 800;
font-size: 96px;
line-height: 115px;
text-align: center;
letter-spacing: 0.06em;

color: #FF0000;

}
.w8:hover{
  cursor: default; 
  color: white;
  outline-color: white;
  outline-offset: 300px;
}
.w9 {
	position: absolute;
width: 392px;
height: 120px;
left: 73px;
top: 1306px;

font-family: Apoc LC Trial;
font-style: normal;
font-weight: 800;
font-size: 96px;
line-height: 115px;
text-align: center;
letter-spacing: 0.06em;

color: #FF0000;
}
.w9:hover{
  cursor: default; 
  color: white;
  outline-color: white;
  outline-offset: 300px;
}
.w10 {
	position: absolute;
width: 392px;
height: 120px;
left: 69px;
top: 1457px;

font-family: Apoc LC Trial;
font-style: normal;
font-weight: 800;
font-size: 96px;
line-height: 115px;
text-align: center;
letter-spacing: 0.06em;

color: #FF0000;

}
.w10:hover{
  cursor: default; 
  color: white;
  outline-color: white;
  outline-offset: 300px;
}
.w11 {
	position: absolute;
width: 392px;
height: 120px;
left: 71px;
top: 1595px;

font-family: Apoc LC Trial;
font-style: normal;
font-weight: 800;
font-size: 96px;
line-height: 115px;
text-align: center;
letter-spacing: 0.06em;

color: #FF0000;
}
.w11:hover{
  cursor: default; 
  color: white;
  outline-color: white;
  outline-offset: 300px;
}
.w12 {
	position: absolute;
width: 392px;
height: 120px;
left: 75px;
top: 1730px;

font-family: Apoc LC Trial;
font-style: normal;
font-weight: 800;
font-size: 96px;
line-height: 115px;
text-align: center;
letter-spacing: 0.06em;

color: #FF0000;

}
.w12:hover{
  cursor: default; 
  color: white;
  outline-color: white;
  outline-offset: 300px;
}
.w13 {
	position: absolute;
width: 392px;
height: 120px;
left: 77px;
top: 1881px;

font-family: Apoc LC Trial;
font-style: normal;
font-weight: 800;
font-size: 96px;
line-height: 115px;
text-align: center;
letter-spacing: 0.06em;

color: #FF0000;
}
.w13:hover{
  cursor: default; 
  color: white;
  outline-color: white;
  outline-offset: 300px;
}

.f1 {
background: url(57ba7d4f-6b9d-4cc1-91e2-b482db677a14.jpg);
position: absolute;
width: 638px;
height: 542px;
left: 657px;
top: 142px;
 filter: grayscale();
}

.f1:hover {
	filter: none;
}

.f2 {
	position: absolute;
width: 638px;
height: 497px;
left: 662px;
top: 776px;
filter: grayscale();
background: url(IMG_4337.jpg);
}
 .f2:hover {
 	filter: none;
 }

 .f3 {
 	position: absolute;
width: 649px;
height: 519px;
left: 662px;
top: 1366px;
filter: grayscale();
background: url(IMG_4295.jpg);
 }
 .f3:hover {
 	filter: none;
 }



