
body {
	background: #FFF8FE;
}

.circle {
position: fixed;
top: 3%;
left: 1%;
width: 105%;
height: 170%;
border-radius: 100%;
background: radial-gradient(50% 50% at 50% 50%, rgba(214, 99, 255, 0.9) 0%, rgba(110, 149, 248, 0.7) 59.9%, rgba(93, 239, 213, 0) 100%);
animation-name:spin;
animation-duration: 5s;
animation-iteration-count: infinite; 
animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

 h2 {
  position: absolute;
width: 278px;
height: 72px;
left: 62px;
top: 1470%;
font-family: Big Caslon;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 60px;
}

  a:link {
  color: orange;
}
a:visited {
  color: purple;
}

a:hover {
  color: black;
}


.title {
	
	text-align: center;
	/*font-size: 192px;*/
	font-size: 22vw;
	font-family: Big Caslon;
	z-index: 1;

	/*margin: 10%;*/
}

.title:hover { text-shadow: 0 0 15px #E8D7FF; }


.intro {
margin-top: 300px;
margin-left: 60px;
margin-right: 60px;
margin-bottom: 300px;
	width: 600px;
	text-align: left;
	font-family: Helvetica Neue;
	font-weight: 300;
font-size: 25px;
line-height: 30px;
z-index: 3;
letter-spacing: 0.03em;

}

.arrow {
	display: flex;
	flex-direction: column;
	flex-direction: row;
	justify-content: center;
flex-shrink: 3;
flex-basis: auto;
width: 15%;
margin: auto;
z-index: 2;
}



.flex {
display: flex; /* or inline-flex */
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
align-content: center;
row-gap: 10px;
  column-gap: 20px;
  z-index: 3;
}

.img1 {

margin:70px;
width: 431px;
height: 646px;
z-index: 4;
order: 1;
}


.img1_description {
	margin: 70px;
	font-family: Helvetica;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	column-gap: 10px;
	width:300px;
	align-items: center;
	align-content: center;
	justify-content: center;


}

.img2 {
	
margin:70px;
width: 431px;
height: 646px;
z-index: 4;
order: 1;
}
.img2_description {
	margin: 70px;
	font-family: Helvetica;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	column-gap: 10px;
	width:300px;
	align-items: center;
	align-content: center;
	justify-content: center;
}
.img3 {
	
margin:70px;
width: 431px;
height: 646px;
z-index: 4;
order: 1;
}

.img3_description {
	margin: 70px;
	font-family: Helvetica;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	column-gap: 10px;
	width:300px;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.img4 {
	
margin:70px;
width: 431px;
height: 646px;
z-index: 4;
order: 1;
}

.img4_description {
	margin: 70px;
	font-family: Helvetica;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	column-gap: 10px;
	width:300px;
	align-items: center;
	align-content: center;
	justify-content: center;
}
.img5 {
	
margin:70px;
width: 431px;
height: 646px;
z-index: 4;
order: 1;
}

.img5_description {
	margin: 70px;
	font-family: Helvetica;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	column-gap: 10px;
	width:300px;
	align-items: center;
	align-content: center;
	justify-content: center;
}
.img6 {
	
margin:70px;
width: 431px;
height: 646px;
z-index: 4;
order: 1;
}

.img6_description {
	margin: 70px;
	font-family: Helvetica;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	column-gap: 10px;
	width:300px;
	align-items: center;
	align-content: center;
	justify-content: center;
	}
.img7 {
	
margin:70px;
width: 431px;
height: 646px;
z-index: 4;
order: 1;
}

.img7_description {
	margin: 70px;
	font-family: Helvetica;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	column-gap: 10px;
	width:300px;
	align-items: center;
	align-content: center;
	justify-content: center;
	}
.img8 {
	
margin:70px;
width: 431px;
height: 646px;
z-index: 4;
order: 1;
}

.img8_description {
	margin: 70px;
	font-family: Helvetica;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	column-gap: 10px;
	width:300px;
	align-items: center;
	align-content: center;
	justify-content: center;
	}
.img9 {
	
margin:70px;
width: 431px;
height: 646px;
z-index: 4;
order: 1;
}

.img9_description {
	margin: 70px;
	font-family: Helvetica;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	column-gap: 10px;
	width:300px;
	align-items: center;
	align-content: center;
	justify-content: center;
	}
.img10 {
	
margin:70px;
width: 431px;
height: 646px;
z-index: 4;
order: 1;
}

.img10_description {
	margin: 70px;
	font-family: Helvetica;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	column-gap: 10px;
	width:300px;
	align-items: center;
	align-content: center;
	justify-content: center;
	}
.img11 {
	
margin:70px;
width: 431px;
height: 646px;
z-index: 4;
order: 1;
}

.img11_description {
	margin: 70px;
	font-family: Helvetica;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	column-gap: 10px;
	width:300px;
	align-items: center;
	align-content: center;
	justify-content: center;
	}
.img12 {
	
margin:70px;
width: 431px;
height: 646px;
z-index: 4;
order: 1;
}

.img12_description {
	margin: 70px;
	font-family: Helvetica;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	column-gap: 10px;
	width:300px;
	align-items: center;
	align-content: center;
	justify-content: center;
	}
.img13 {
	
margin:70px;
width: 431px;
height: 646px;
z-index: 4;
order: 1;
}

.img13_description {
	margin: 70px;
	font-family: Helvetica;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	column-gap: 10px;
	width:300px;
	align-items: center;
	align-content: center;
	justify-content: center;
	}
.img14 {
	
margin:70px;
width: 431px;
height: 646px;
z-index: 4;
order: 1;
}

.img14_description {
	margin: 70px;
	font-family: Helvetica;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	column-gap: 10px;
	width:300px;
	align-items: center;
	align-content: center;
	justify-content: center;
	}
.img15 {
	
margin:70px;
width: 431px;
height: 646px;
z-index: 4;
order: 1;
}

.img15_description {
	margin: 70px;
	font-family: Helvetica;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	column-gap: 10px;
	width:300px;
	align-items: center;
	align-content: center;
	justify-content: center;
	}
.img16 {
	
margin:70px;
width: 431px;
height: 646px;
z-index: 4;
order: 1;
}

.img16_description {
	margin: 70px;
	font-family: Helvetica;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	column-gap: 10px;
	width:300px;
	align-items: center;
	align-content: center;
	justify-content: center;
	}

	.img17 {
	
margin:70px;
width: 431px;
height: 646px;
z-index: 4;
order: 1;
}

.img17_description {
	margin: 70px;
	font-family: Helvetica;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	column-gap: 10px;
	width:300px;
	align-items: center;
	align-content: center;
	justify-content: center;
	}

	.img18 {
	
margin:70px;
width: 431px;
height: 646px;
z-index: 4;
order: 1;
}

.img18_description {
	margin: 70px;
	font-family: Helvetica;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	column-gap: 10px;
	width:300px;
	align-items: center;
	align-content: center;
	justify-content: center;
	}

	.img19 {
	
margin:70px;
width: 431px;
height: 646px;
z-index: 4;
order: 1;
}

.img19_description {
	margin: 70px;
	font-family: Helvetica;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	column-gap: 10px;
	width:300px;
	align-items: center;
	align-content: center;
	justify-content: center;
	}

	.img20 {
	
margin:70px;
width: 431px;
height: 646px;
z-index: 4;
order: 1;
}

.img20_description {
	margin: 70px;
	font-family: Helvetica;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	column-gap: 10px;
	width:300px;
	align-items: center;
	align-content: center;
	justify-content: center;
	}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}